[core]
	compression = 0
	autocrlf = input
	editor = nvim
[http]
	postBuffer = 1048576000
[user]
	name = Nathaniel Ketema
	email = nathanielketema@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
[protocol "file"]
	allow = always
