snippet zinit
const std = @import("std");
const Io = std.Io;
const Allocator = std.mem.Allocator;
const assert = std.debug.assert;
const testing = std.testing;

pub fn main() !void {
    $0
}

test "foo" {
}
endsnippet

snippet zlog
@compileLog(@TypeOf($0));
endsnippet

snippet zprint
std.debug.print("$1 \n", .{$0});
endsnippet
