snippet initCode
const std = @import("std");
const print = std.debug.print;
const testing = std.testing;
const assert = std.debug.assert;


pub fn main() !void {
    print("hello world\n", .{});
    $0
}

test "test name" {
}
endsnippet

snippet compi
@compileLog(@TypeOf($0));
endsnippet

snippet pp 
print("$1{}\n", .{$0});
endsnippet
