snippet ziginit
const std = @import("std");
const assert = std.debug.assert;
const testing = std.testing;
const Allocator = std.mem.Allocator;

$0

test "description" {
}
endsnippet

snippet zlog
@compileLog(@TypeOf($0));
endsnippet

snippet zprint
std.debug.print("$1 \n", .{$0});
endsnippet
